.delete {
    background-color: $tertiary-color;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;

}

.cancel {
    background-color: white;
    border: 1px solid $gray;
    border-radius: 0.2rem;
    color: $gray;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
}