@use "styles/fonts.scss" as *;
@use "styles/variables.scss" as *;



.container-tasklist{
    width: 800px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__button{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-family: inherit;
        font-weight: bold;
        border: none;
        border-radius: 0.5rem;
        background-color: $tertiary-color;
        color: $white;
        cursor: pointer;
        height: 2.5rem;
        padding: 1rem;


        img{
            width: 0.8rem;
            height: 0.8rem;
        }
    }
}

